html {
    height: 100%;
    background-color: white;
}

body {
    height: 100%;
    margin: 0;
    background-color: white;
}

#container {
    height: 15%;
    color: #4e4e4e;
}

#container>h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

#container>p {
    font-size: 17px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Istok Web', sans-serif;
}

#back {
    padding: 15px;
    padding-left: 5px;
    color: whitesmoke;
    background-color: #4e4e4e;
    float: left;
    border: none;
    border-radius: 3px;
    font-size: medium;
    margin-left: 90px;
    cursor: pointer;
}

#mapid {
    height: 70%;
    border: solid #a1a1a1 2px;
    border-radius: 7px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 60px;
}


/* Legend */

.legend {
    margin-bottom: 100px;
    width: 100%;
    line-height: 26px;
    font-size: 13px;
    font-family: 'Average', Helvetica;
    color: #666;
    background-color: #E8E8E8;
    box-shadow: -1px 7px 16px -3px rgba(124, 124, 124, 0.32);
    border-radius: 3px;
    padding: 3px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    margin-left: 5px;
    margin-top: 4px;
    opacity: 0.8;
    border-radius: 50%;
}

#footer {
    height: 15%;
    background-color: #555;
    margin-top: 20px;
    color: #8D99A6;
}

#footer>p {
    text-align: center;
    padding-top: 70px;
}